{% load staticfiles %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Portal1</title>
		<link rel='stylesheet' href='{% static "css/main.css" %}'/>

		<link rel="stylesheet" href='{% static "css/style_inicio.css" %}'/>
		<script src='{% static "d3/d3.js" %}'></script>
		<script src='{% static "js/Donut3D.js" %}'></script>
		<script src='{% static "js/jquery.js" %}'></script>
		<!-- <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script> -->
		<!-- <script src='{% static "js/app_inicio.js" %}'></script> -->
		<!-- <script src='{% static "codebase/dhtmlxgantt.js" %}'></script>  
		<link rel="stylesheet" href='{% static "codebase/dhtmlxgantt.css" %}'/> -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1><a href="index.html">Experiencias Xcaret</a></h1>
					<nav id="nav">
						<ul>
							<li>
								<div class="navMenu">
									<input name="query" id="query" value="" placeholder="Busqueda global..." />
								</div>
							</li>
							<li>
								<div class="navMenu">
									<h6>xhfoto</h6>
								</div>
							</li>
                            <!-- <li><a href="perfil.html">Rafael Pérez Aguirre</a></li> -->
                            <li><a href="index.html" class="icon fa-sign-out"><span class="label">Salir</span></a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<section id="main" class="container">
					<header>
                        <h2>Grafica de Abastecimientos</h2>
                    </header>
						<div class="12u">
							<!-- Form -->
								<section class="box">
									<!-- <form method="post" action="#">
										<div class="row uniform 50%">
											<div class="9u 12u(mobilep)">
												<div class="select-wrapper">
												<select name="departamento" required="true" autofocus="Foto">
													<option disabled="" selected="selected" style="display: none;" value="">Selecciona una opcion...</option>
													
													<option value="19">Abastecimineto</option>						
													<option value="5">Actividades Recreativas</option>				
													<option value="18">Alimentos y Bebidas</option>					
													<option value="8">Atencion al Visitante</option>				
													<option value="49">Bajas</option>								
													<option value="7">Capital Humano</option>						
													<option value="16">Direccion Ejecutiva</option>				
													<option value="15">Fauna</option>								
													<option value="4">Finanzas y Control</option>					
													<option value="1" selected="true">Foto</option>				
													<option value="17">Investigación de Mercado</option>			
													<option value="9">Masajes</option>							
													<option value="6">Operacion Parque</option>	
													<option value="13">Proyectos</option>
													<option value="12">Relaciones Publicas</option>	
													<option value="3">Servicios Generales</option>	
													<option value="11">Sistemas</option>
													<option value="2">Tiendas</option>		
													<option value="14">X-Tour</option>						
												</select>
												</div>
											</div>
											<div class="3u 12u(mobilep)">
												<input type="submit" value="Search" class="fit" />
											</div>
										</div>
									</form> -->

									<div class="div1"> 
										<div class="aquiGrafica2">										
										
										</div>	
										<div class="aquiGrafica3">
										
										</div>	
									</div>		

											

								<script>


//DATA FOR THE VISUALIZATION

var x=[
  	["Xcaret", 7000, "SEA",4000, "POD1", 4000, "Escaner", 200],
  	["Xcaret", 7000, "SEA",4000, "POD1", 4000, "Torreta", 200],
  	["Xcaret", 7000, "IN", 3000, "POD2", 3000, "Escaner", 200],
  	["Xcaret", 7000, "IN", 3000, "POD2", 3000, "Torreta", 200],
  	["Xel-Há", 5000, "Abastecimineto", 3000, "Computadoras", 500, "Escaner", 200],
  	["Xel-Há", 5000, "Abastecimineto", 3000, "Computadoras", 500, "Torreta", 200],
  	["Xel-Há", 5000, "Abastecimineto", 3000, "Monitores", 500, "Escaner", 200],
  	["Xel-Há", 5000, "Abastecimineto", 3000, "Monitores", 500, "Torreta", 200],
  	["Xel-Há", 5000, "Abastecimineto", 3000, "Periféricos", 400, "Escaner", 200],
  	["Xel-Há", 5000, "Abastecimineto", 3000, "Periféricos", 400, "Torreta", 200],
  	["Xel-Há", 5000, "Abastecimineto", 3000, "Impresoras", 600, "Escaner", 200],
  	["Xel-Há", 5000, "Abastecimineto", 3000, "Impresoras", 600, "Torreta", 200],
  	["Xel-Há", 5000, "Abastecimineto", 3000, "Electrónica de red", 800, "Escaner", 200],
  	["Xel-Há", 5000, "Abastecimineto", 3000, "Electrónica de red", 800, "Torreta", 200],
  	["Xel-Há", 5000, "Abastecimineto", 3000, "Teléfonos", 200, "Escaner", 200],
  	["Xel-Há", 5000, "Abastecimineto", 3000, "Teléfonos", 200, "Torreta", 200],
  	["Xel-Há", 5000, "Actividades Recreativas", 1000, "Computadoras", 300, "Escaner", 200],
  	["Xel-Há", 5000, "Actividades Recreativas", 1000, "Computadoras", 300, "Torreta", 200],
  	["Xel-Há", 5000, "Actividades Recreativas", 1000, "Monitores", 200, "Escaner", 200],
  	["Xel-Há", 5000, "Actividades Recreativas", 1000, "Monitores", 200, "Torreta", 200],
  	["Xel-Há", 5000, "Actividades Recreativas", 1000, "Periféricos", 300, "Escaner", 200],
  	["Xel-Há", 5000, "Actividades Recreativas", 1000, "Periféricos", 300, "Torreta", 200],
  	["Xel-Há", 5000, "Actividades Recreativas", 1000, "Impresoras", 100, "Escaner", 200],
  	["Xel-Há", 5000, "Actividades Recreativas", 1000, "Impresoras", 100, "Torreta", 200],
	["Xel-Há", 5000, "Actividades Recreativas", 1000, "Electrónica de red", 50, "Escaner", 200],
	["Xel-Há", 5000, "Actividades Recreativas", 1000, "Electrónica de red", 50, "Torreta", 200],
  	["Xel-Há", 5000, "Actividades Recreativas", 1000, "Teléfonos", 50, "Escaner", 200],
  	["Xel-Há", 5000, "Actividades Recreativas", 1000, "Teléfonos", 50, "Torreta", 200],
  	["Xel-Há", 5000, "Alimentos y Bebidas", 500, "POD3", 500, "Escaner", 200],
  	["Xel-Há", 5000, "Alimentos y Bebidas", 500, "POD3", 500, "Torreta", 200],
  	["Xel-Há", 5000, "Bajas", 500, "POD4", 500, "Escaner", 200],
  	["Xel-Há", 5000, "Bajas", 500, "POD4", 500, "Torreta", 200],
  	["Xplor", 3000, "Xpl", 500, "POD1", 500, "Escaner", 200],
  	["Xplor", 3000, "Xpl", 500, "POD1", 500, "Torreta", 200],
  	["Xplor", 3000, "Xpl", 2000, "POD2", 2000, "Escaner", 200],
  	["Xplor", 3000, "Xpl", 2000, "POD2", 2000, "Torreta", 200],
  	["Xplor", 3000, "Xpl", 500, "POD3", 500, "Escaner", 200],
  	["Xplor", 3000, "Xpl", 500, "POD3", 500, "Torreta", 200],
  	["Xenotes", 1000, "Xen", 1000, "POD3", 1000, "Escaner", 200],
  	["Xenotes", 1000, "Xen", 1000, "POD3", 1000, "Torreta", 200],
  	["Xochimilco", 500, "Xoc", 500, "POD3", 500, "Escaner", 200],
  	["Xochimilco", 500, "Xoc", 500, "POD3", 500, "Torreta", 200],
  	["Xenses", 600, "Xen", 600, "POD3", 600, "Escaner", 200],
  	["Xenses", 600, "Xen", 600, "POD3", 600, "Torreta", 200],
];

				// Xcaret Xel-Há Xplor Xenotes Xochimilco Xenses
var paleta = ["#558ED5", "#FF66CC", "#92D050", "#FDE146", "#AD60BE", "#F39409"];
var arrayColor=[];
var lenX = x.length;

creaArrayColor(x);

//Funcion que crea un array de objetos enlazando los colores pertinentes a cada departamento de cada parque
function creaArrayColor(x){
	var j = 1;	//indice para parques
	temp = x[0][2];	//Variable temporal que almacena el departamento
	temp2 = x[0][0];	//Variable temporal que almacena el parque
	arrayColor.push({"park":x[0][0] , "depa":x[0][2] , "equipo":x[0][4] ,"color":paleta[0]});
	for(i in x){
		if (temp2 != x[i][0]){			
			temp2 = x[i][0];
			j=0;
		}		
		if (temp != x[i][2]){
			//console.log(x[i][2]);
			arrayColor.push({"park":x[i][0] , "depa":x[i][2] , "equipo":x[i][4] ,"color":paleta[j]});
			temp = x[i][2];
			j++;
		}
	}
	//console.log(arrayColor[0].depa + " , " + arrayColor[0].equipo + " , " +arrayColor[0].color);
	//console.log(arrayColor);
}

var obj = function(name,x) {
	return {"name":name,"size":Math.abs(x),"sign":x,"children":[]};
};
var root = new obj();
root.name = 'Total';
var column = x[0].length;
var row = x.length;
var parent = root;
var temp; var c,r,flag; var temp1,temp2;
for(c=0;c<column-1;c+=2) {
	temp = new obj();
 	temp.name = x[0][c];
 	temp.sign = x[0][c+1];
 	temp.size = Math.abs(temp.sign);
 	parent.children.push(temp);
 	parent = parent.children[0];
}
for(r=1;r<row;r++) {
 	parent = root;
 	for(c=0;c<column-1;c+=2) {
  		flag=0;
  		for(d=0;d<parent.children.length;d++) {
   			if(parent.children[d].name == x[r][c]) {
    			parent = parent.children[d];
				if(c==column-2) {parent.sign+=x[r][c+1]; parent.size += Math.abs(x[r][c+1]);} //line added 
					flag=1;
   			}
  		}
   		if(flag==0) {
   			temp = new obj();
   			{ temp.name = x[r][c]; temp.sign=x[r][c+1]; temp.size = Math.abs(temp.sign);}
   
   			parent.children.push(temp);
   			parent=parent.children[parent.children.length-1];
   		}     
	}
}

console.log(root);
root.size=0;

for(var i=0;i<root.children.length;i++) {
	root.size+=root.children[i].size;
}

//var currentPos = $("#SD").offset().left;
	
var margin = {top: 250, right: 250, bottom: 250, left: 250},
    radius = Math.min(margin.top, margin.right, margin.bottom, margin.left) - 10;

var svg = d3.select(".aquiGrafica2").append("svg")	//Aqui se crea el objeto svg y se le asigna en que div se dibujara
	.attr("width", margin.left + margin.right)
    .attr("height", margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
var partition = d3.layout.partition()
    .sort(function(a, b) { return d3.ascending(a.name, b.name); })
    .size([2 * Math.PI, radius]);
var arc = d3.svg.arc()
    .startAngle(function(d) { return d.x; })
    .endAngle(function(d) { return d.x + d.dx - .01 / (d.depth + .5); })
    .innerRadius(function(d) { return radius / 4 * d.depth; })
    .outerRadius(function(d) { return radius / 3 * (d.depth + 1) - 1; });

f();	//Aqui se llama a la funcion

var level=0;

function f() { 
	//variables para la creación de la tabla. Se le indica a D3 donde dibujaremos, despues se le añade una tabla con sus respectiva clase
	var legend = d3.select(".aquiGrafica3").append("table").attr('class','legend')

	//Una vez creada la tabla se le agrega un body de tabla
	var tbody = legend.append("tbody");
	//Despues a ese tbody se le añade la primer fila
	var tr = tbody.selectAll("tr");

	var tamTabla =[];	//Variable de apoyo para conocer cuantas rebanadas son en el nivel y asi poder agregar su correspondiente cantidad de filas

	//var tr = legend.append("tbody");	          	
	//var legend = d3.select(".aquiGrafica3").append("table").attr('class','legend');
	//var tr = legend.append("tbody").selectAll("tr").data(d).enter().append("tr");
	//Calcula el layout inicial de todo el arbol y la suma de los tamaños
	//Tambien calcula el nombre completo y color para cada nodo
	//Y oculta los hijos para que puedan ser restaurados a medida que descendemos en el pastel
	partition
    	.value(function(d) { return d.size; })
      	.nodes(root)
      	.forEach(function(d) {
        	d._children = d.children;
        	d.sum = d.value;
        	d.key = key(d);  
        	//console.log("       "+key(d));
      	});

  //Ahora redefine el valor de la funcion a usar en la suma previamenre calculada
  	partition
      	.children(function(d, depth) { return depth < 1 ? d._children : null; })
      	.value(function(d) { return d.size; });

  	var z0=0;	//Variable que indica la posición del elemento en profundidad 0 (parques) **Intro

  	var center = svg.append("circle")	//Circulo central (boton de regreso)
      	.attr("r", radius / 4)
      	.attr("fill","#202020")
      	.on("click", zoomOut);

  	center.append("title")	//Texto mostrado al situar el puntero
      	.text("zoom out");

//Function que añade y actualiza los datos de la tabla de referencias
function tabla(d,col){    	
    	tamTabla.push(d.name);	//array que nos sirve de apoyo para añadir más filas a la tabla (su valor no es relevante, sus posiciones si)
    	
    	tr = tbody.selectAll("tr")	//aqui creamos las filas que llevara el tbody
			.data(tamTabla)
			.enter().append("tr");

		//Las siguientes lineas añaden las columnas (td) a cada fila (tr)
		tr.append("td").append("svg").attr("width", '16').attr("height", '16').append("rect")
			.attr("width", '16').attr("height", '16')
			.attr("fill",col);
		tr.append("td").text(d.name).attr('class','legendName');
		tr.append("td").text(d.value).attr('class','legendValue');
}

	var path = svg.selectAll("g")	//Dibujado de las primeras rebanadas (intro)
      	.data(partition.nodes(root).slice(1))
    	.enter().append("path")
      	.attr("d", arc)
      	.style("fill", function(d) {
      		z0++;      		
		    console.log(d);
		    tabla(d,paleta[z0-1]);	//Aqui se llama a la función tabla por primera vez para que la dibuje
          	return paleta[z0-1]; 
        })
	  	.each(function(d) { this._current = updateArc(d); })
      	.on("click", zoomIn);

	var g = svg.selectAll("g")
      	.data(partition.nodes(root).slice(1))
    	.enter().append("g");

    var centerText = svg.append("text")	//Texto del circulo regresar
  		.attr("text-anchor","middle")
  		.attr("fill","white")
  		.attr("font-family", "Helvetica Neue, Helvetica, Arial, sans-serif")
  		.text("Regresar");

  	var centerTextTittle = svg.append("text")	//Texto del titulo
	  	.attr("transform", "translate(0,-200)")
  		.attr("text-anchor","middle")
  		.attr("fill","black")
  		.attr("font-family", "Helvetica Neue, Helvetica, Arial, sans-serif")
  		.text("Parques");
	  
  	  
	var text = g.append("text")	//Texto inicial (intro)
		//.attr("transform", function(d) { return "rotate(" + computeTextRotation(d) + ")"; })
		.attr("transform", function(d){
			return "translate("+ arc.centroid(d)+")";
		})
		.attr("x", function(d) { return (d.y); })
    	.attr("dx", "-140") // margin
    	.attr("dy", ".35em") // vertical-align
    	.attr("class", "percentEye")
		.text(function(d) {return d.name; });

	function computeTextRotation(d) {
  		return ((d.x + d.dx / 2) - Math.PI / 2) / Math.PI * 180;
	}

	function clearTable(){
		tbody.selectAll("tr").remove();
  		tamTabla=[];
	}
	  
 	function zoomIn(p) {g.attr("opacity", 0);
 		var res = p.key.split(".");
  		//alert("Entre a la funcion: "+res.length + "de: " + res[res.length-1]);
  		//console.log(res[res.length-1] + " - " + p.sign);
  		//leg.update(nD);
  		clearTable();

    	if (p.depth > 1) p = p.parent;
    	zoom(p, p);
  	}
  	function zoomOut(p) {g.attr("opacity", 0); 
  		var res = p.key.split(".");
  		//alert("Salgo de la funcion: "+res.length + "de: " + res.pop());
  		clearTable();
  		if (!p.parent) return; 
    	zoom(p.parent, p);
  	}
  	// Zoom a la nueva raíz especificada
  	function zoom(root, p) {
  		
    	if (document.documentElement.__transition__) return;
    	// Reescala los angulos exteriores para que coincidan con el nuevo layaot
    	var enterArc,
	        exitArc,
    	    outsideAngle = d3.scale.linear().domain([0, 2 * Math.PI]);
    	function insideArc(d) {
      		return p.key > d.key
        	? {depth: d.depth - 1, x: 0, dx: 0} : p.key < d.key
        	? {depth: d.depth - 1, x: 2 * Math.PI, dx: 0}
        	: {depth: 0, x: 0, dx: 2 * Math.PI};
    	}
    function outsideArc(d) {
    	return {depth: d.depth + 1, x: outsideAngle(d.x), dx: outsideAngle(d.x + d.dx) - outsideAngle(d.x)};
    }

    
    center.datum(root);
   
    // Al hacer zoom los arcos entran desde el exterior y la salida desde el interior
    // Cuando entras se hace la transicion a los arcos exteriores estos comienzan desde el angulo trazado
    if (root === p) { enterArc = outsideArc, exitArc = insideArc, outsideAngle.range([p.x, p.x + p.dx]); }
    path = path.data(partition.nodes(root).slice(1), function(d) { return d.key; });
	g = g.data(partition.nodes(root).slice(1), function(d) { return d.key; });
    //Cuando el zoom se aleja los arcos entran desde el interior y la salida al exterior
    // Cuando sales se hace la transicion de los arcos exteriores para el nuevo layaout
    if (root !== p) enterArc = insideArc, exitArc = outsideArc, outsideAngle.range([p.x, p.x + p.dx]);
    d3.transition().duration(d3.event.altKey ? 7500 : 750).each(function() {
    	path.exit().transition()
          .style("fill-opacity", function(d) { return d.depth === 1 + (root === p) ? 1 : 0; })
          .attrTween("d", function(d) { return arcTween.call(this, exitArc(d)); })
          .remove();

		    var z1 = 0;	//Variable que indica la posición del elemento en profundidad 0 (parques) **Zoom
		    var z2 = 0;	//Variable que indica la posición del elemento en profundidad 2 (equipos) **Zoom
		    

		    path.enter().append("path")
		        .style("fill-opacity", function(d) { return d.depth === 2 - (root === p) ? 1 : 0; })
				.style("fill", function(d) {	//Funcion para asignarle el color dependiendo del nivel
		          	console.log(d.name + " - " + d.size);

		          	
		          	
		          	/*tr.selectAll("tr").data("1").enter().append("tr");

		          	tr.append("td").append("svg").attr("width", '16').attr("height", '16').append("rect")
	            	.attr("width", '16').attr("height", '16')
					.attr("fill",paleta[z0-1]);

		          	tr.append("td").text(d.name);
		          	tr.append("td").text(d.value);*/

		          	var res = d.key.split(".");
		          	if (res.length == 1){		//Cuando es profundidad 0 (parques) se pinta la grafica utilizando la propia iteración del llamado de la función con z1
		          		//console.log(res+" - "+z1);
		          		z1++;
		          		tabla(d,paleta[z1-1]);
		          		return paleta[z1-1];
		          	}
		          	if (res.length == 2)		//Cuando es profundidad 1 (departamentos) se pinta con el array de objetos creado a partir del array original
			          	for (i=0; i<=lenX; i++){
			          		if(arrayColor[i].depa == d.name){
			          			tabla(d,arrayColor[i].color);
			          			return arrayColor[i].color;
			          		}
			          	}
			        if (res.length == 3){		//Cuando es profundidad 2 (equipos) se pinta con la propia iteración del llamado de la funcion con z2
			        	//console.log(res+" - "+z2);
			        	z2++;
			        	//alert("aquinooo");
			        	
			        	//tamTabla=[];
			        	//tr = tbody.selectAll("tr")
						//	.data("1")
						//	.enter().append("tr");
			        	//tamTabla =[1,2,3,4,5];	//AQUI ME QUEDE POrque no se como borrar la tabla
			        	//alert("booro");

			        	tabla(d,paleta[z2-1]);
			          	return paleta[z2-1];
			          }
			        if (res.length == 4){		//Cuando es profundidad 3 (tipos) se pinta con la propia iteración del llamado de la funcion con z2
			        	//console.log(res+" - "+z2);
			        	z2++;
			        	//tbody.select("tr").remove();
			        	//tamTabla = [1];
			        	tabla(d,paleta[z2-1]);
			          	return paleta[z2-1];
			          }
		      		})
		        .on("click", zoomIn)
		        .each(function(d) { this._current = enterArc(d); });
			
			g.enter().append("text")
				//.attr("transform", function(d) { return "rotate(" + computeTextRotation(d) + ")"; })
				.attr("transform", function(d){
					return "translate("+ arc.centroid(d)+")";
				})
				.attr("x", function(d) { return (d.y); })
			    .attr("dx", "-140") // margin
		    	.attr("dy", ".35em") // vertical-align
		    	.attr("class", "percentEye")
				.text(function(d) { return d.name; });
			
		      path.transition()
		          .style("fill-opacity", 1)
		          .attrTween("d", function(d) { return arcTween.call(this, updateArc(d)); });
    	});
  	}
}

function key(d) {
	var k = [], p = d;
  	while (p.depth) k.push(p.name), p = p.parent;
  	return k.reverse().join(".");
}
function arcTween(b) {
  	var i = d3.interpolate(this._current, b);
  	this._current = i(0);
  	return function(t) {
    	return arc(i(t));
  	};
}
function updateArc(d) {
 	return {depth: d.depth, x: d.x, dx: d.dx};
}
























d3.select(self.frameElement).style("height", margin.top + margin.bottom + "px");

									
								</script>
								</section>
						</div>
					
				</section>

				<div class="row">
						<div class="12u">

							<!-- Table -->
								<section class="box">

									<div class="row uniform 50%">
										<div class="divColorIcon1"><i class="fa fa-laptop fa-3x"></i></div>
										<div class="3u 12u (mobilep)">
												<h3>Computadoras</h3>
										</div>
										<div class="5u 12u (mobilep"></div>
										<div class="3u 12u (mobilep)" align="left">
											<input type="text" name="name" id="name" value="" placeholder="Buscar computadoras" />
										</div>								
									</div>
									<br>
									<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>
													<th>Price</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Something</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Nothing</td>
													<td>Vis ac commodo adipiscing arcu aliquet.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Something</td>
													<td> Morbi faucibus arcu accumsan lorem.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Nothing</td>
													<td>Vitae integer tempus condimentum.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Something</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td colspan="2"></td>
													<td>100.00</td>
												</tr>
											</tfoot>
										</table>
									</div>
								</section>

						</div>
					</div>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="http://192.168.40.223/ocsreports/" class="icon fa-cogs"><span class="label">OCS</span></a></li>
						<li><a href="http://192.168.40.223/glpi/" class="icon fa-rocket"><span class="label">GLPI</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Portal de mantenimientos v0.1 </li><li><a href="http://es.xelha.com/">Xel-Ha</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src='{% static "js/jquery.min.js" %}'></script>
			<script src='{% static "js/jquery.dropotron.min.js" %}'></script>
			<script src='{% static "js/jquery.scrollgress.min.js" %}'></script>
			<script src='{% static "js/skel.min.js" %}'></script>
			<script src='{% static "js/util.js" %}'></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src='{% static "js/main.js" %}'></script>

			<!--<script src='{% static "js/changePlaceholder.js" %}'></script>
			<script src='{% static "js/countCheckbox.js" %}'></script>-->

			 
	</body>
</html>