{% load staticfiles %}

<!DOCTYPE HTML>
<html>
	<head>
		<title>Portal1</title>
		<link rel='stylesheet' href='{% static "css/main.css" %}'/>

		<link rel="stylesheet" href='{% static "css/style_inicio.css" %}'/>
		<script src='{% static "d3/d3.js" %}'></script>
		<script src='{% static "js/Donut3D.js" %}'></script>
		<script src='{% static "js/tip.js" %}'></script>
		<!-- <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script> -->
		<!-- <script src='{% static "js/app_inicio.js" %}'></script> -->
		<!-- <script src='{% static "codebase/dhtmlxgantt.js" %}'></script>  
		<link rel="stylesheet" href='{% static "codebase/dhtmlxgantt.css" %}'/> -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1><a href="index.html">Experiencias Xcaret</a></h1>
					<nav id="nav">
						<ul>
							<li>
								<div class="navMenu">
									<input name="query" id="query" value="" placeholder="Busqueda global..." />
								</div>
							</li>
							<li>
								<div class="navMenu">
									<h6>xhfoto</h6>
								</div>
							</li>
                            <!-- <li><a href="perfil.html">Rafael Pérez Aguirre</a></li> -->
                            <li><a href="index.html" class="icon fa-sign-out"><span class="label">Salir</span></a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<section id="main" class="container">
					<header>
                        <h2>Grafica de Abastecimientos</h2>
                    </header>
						<div class="12u">
							<!-- Form -->
								
									<!-- <form method="post" action="#">
										<div class="row uniform 50%">
											<div class="9u 12u(mobilep)">
												<div class="select-wrapper">
												<select name="departamento" required="true" autofocus="Foto">
													<option disabled="" selected="selected" style="display: none;" value="">Selecciona una opcion...</option>
													
													<option value="19">Abastecimineto</option>						
													<option value="5">Actividades Recreativas</option>				
													<option value="18">Alimentos y Bebidas</option>					
													<option value="8">Atencion al Visitante</option>				
													<option value="49">Bajas</option>								
													<option value="7">Capital Humano</option>						
													<option value="16">Direccion Ejecutiva</option>				
													<option value="15">Fauna</option>								
													<option value="4">Finanzas y Control</option>					
													<option value="1" selected="true">Foto</option>				
													<option value="17">Investigación de Mercado</option>			
													<option value="9">Masajes</option>							
													<option value="6">Operacion Parque</option>	
													<option value="13">Proyectos</option>
													<option value="12">Relaciones Publicas</option>	
													<option value="3">Servicios Generales</option>	
													<option value="11">Sistemas</option>
													<option value="2">Tiendas</option>		
													<option value="14">X-Tour</option>						
												</select>
												</div>
											</div>
											<div class="3u 12u(mobilep)">
												<input type="submit" value="Search" class="fit" />
											</div>
										</div>
									</form> -->
									<div class="div1"> 
										<div class="aquiGrafica">
										
										</div>		
									</div>

									<div class="div1"> 
										<div class="aquiGrafica2">
										
										</div>		
									</div>							

								<script>
									var Datos=[
										//Solo sustituye el valor de los value por el tag de los resultados
										{label:"Computadoras", value: 109, color:"#558ED5", posX: 10, posY: 10},
										{label:"Monitores", value: 64, color:"#FF66CC", posX: 10, posY: 30},
										{label:"Periféricos", value: 48, color:"#92D050", posX: 10, posY: 50},
										{label:"Impresoras", value: 31, color:"#FDE146", posX: 10, posY: 70},
										{label:"Electrónica de red", value: 29, color:"#AD60BE", posX: 10, posY: 90},
										{label:"Teléfonos", value: 22, color:"#F39409", posX: 10, posY: 110}
									];		
									var Datos2=[];

									var DatosDepto=["Abastecimineto","Actividades Recreativas","Alimentos y Bebidas","Atencion al Visitante","Bajas","Capital Humano","Direccion Ejecutiva","Fauna"];
									var DatosDeptoValueC=[30,10,50,20,70,30,40,60];
									var DatosDeptoValueM=[60,35,48,27,16,34,68,25];

									var Datos3=[];

									for (i in DatosDepto){										
										Datos3.push({label:DatosDepto[i], value:DatosDeptoValueC[i], value2:DatosDeptoValueM[i]});
									}
									console.log(Datos3);
									
									verifData();
									SortData();
									reacomodaY();									
									
									//Cambia '.aquiGrafica' por el div donde quieras que aparesca
									var svg = d3.select('.aquiGrafica').append("svg").attr("width",550).attr("height",300);

									svg.append("g").attr("id","equiposPastel")

									Donut3D.draw("equiposPastel", Datos2, 130, 145, 130, 100, 30, 0);					
											//X,Y,AngX,AngY,AngZ,Prof,hueco
									Donut3D.draw2("equiposPastel", Datos2, 380, 70, 130, 100, 30, 0);

									function changeData(){
										Donut3D.transition("equiposPastel", Datos2, 130, 100, 30, 0);
									}

									//Verifica si algun conjunto esta vacio y lo elimina
									//Crea un nuevo array sin los tipos con valor 0
									function verifData(){
										i=0;										
										Datos.forEach(function(d){											
											if (d.value != 0){
												Datos2.splice(i,1,Datos[i]);
											}
											i++;			
										});
									}

									//Reacomoda las coordenadas Y para el dibujado de las etiquetas
									function reacomodaY(){
										i= 10 + ((6-Datos2.length)*20);
										Datos2.forEach(function(d){
											d.posY = i;								
											i+=25;
										});				
									}

									//Reacomoda las coordenadas Y para el dibujado de las etiquetas
									function SortData(){
										Datos2.sort(function (a, b){return (b.value - a.value)});
									}





									function dashboard(id, fData){
    var barColor = 'steelblue';
    function segColor(c){ return {value0:"#807dba", value1:"#e08214",value2:"#41ab5d"}[c]; }
    
    // compute total for each state.
    fData.forEach(function(d){d.total=d.freq.value0+d.freq.value1+d.freq.value2;});
    
    // function to handle histogram.
    function histoGram(fD){
        var hG={},    hGDim = {t: 30, r: 0, b: 80, l: 50};
        hGDim.w = 550 - hGDim.l - hGDim.r, 
        hGDim.h = 350 - hGDim.t - hGDim.b;
            
        //create svg for histogram.
        var hGsvg = d3.select(id).append("svg")
            .attr("width", hGDim.w + hGDim.l + hGDim.r)
            .attr("height", hGDim.h + hGDim.t + hGDim.b).append("g")
            .attr("transform", "translate(" + hGDim.l + "," + hGDim.t + ")");

        // create function for x-axis mapping.
        var x = d3.scale.ordinal().rangeRoundBands([0, hGDim.w], 0.1)
                .domain(fD.map(function(d) { return d[0]; }));

        // Add x-axis to the histogram svg.
        hGsvg.append("g").attr("class", "x axis")
            .attr("transform", "translate(0," + hGDim.h + ")")
            .call(d3.svg.axis().scale(x).orient("bottom"));

        // Create function for y-axis map.
        var y = d3.scale.linear().range([hGDim.h, 0])
                .domain([0, d3.max(fD, function(d) { return d[1]; })]);

        // Create bars for histogram to contain rectangles and freq labels.
        var bars = hGsvg.selectAll(".bar").data(fD).enter()
                .append("g").attr("class", "bar");
        
        //create the rectangles.
        bars.append("rect")
            .attr("x", function(d) { return x(d[0]); })
            .attr("y", function(d) { return y(d[1]); })
            .attr("width", x.rangeBand())
            .attr("height", function(d) { return hGDim.h - y(d[1]); })
            .attr('fill',barColor)
            .on("mouseover",mouseover)// mouseover is defined below.
            .on("mouseout",mouseout);// mouseout is defined below.
            
        //Create the frequency labels above the rectangles.
        bars.append("text").text(function(d){ return d3.format(",")(d[1])})
            .attr("x", function(d) { return x(d[0])+x.rangeBand()/2; })
            .attr("y", function(d) { return y(d[1])-5; })
            .attr("text-anchor", "middle");
        
        function mouseover(d){  // utility function to be called on mouseover.
            // filter for selected state.
            var st = fData.filter(function(s){ return s.State == d[0];})[0],
                nD = d3.keys(st.freq).map(function(s){ return {type:s, freq:st.freq[s]};});
               
               //console.log(st);
               console.log(nD);
            // call update functions of pie-chart and legend.    
            pC.update(nD);
            leg.update(nD);
        }
        
        function mouseout(d){    // utility function to be called on mouseout.
            // reset the pie-chart and legend.    
            pC.update(tF);
            leg.update(tF);
        }
        
        // create function to update the bars. This will be used by pie-chart.
        hG.update = function(nD, color){
            // update the domain of the y-axis map to reflect change in frequencies.
            y.domain([0, d3.max(nD, function(d) { return d[1]; })]);
            
            // Attach the new data to the bars.
            var bars = hGsvg.selectAll(".bar").data(nD);
            
            // transition the height and color of rectangles.
            bars.select("rect").transition().duration(500)
                .attr("y", function(d) {return y(d[1]); })
                .attr("height", function(d) { return hGDim.h - y(d[1]); })
                .attr("fill", color);

            // transition the frequency labels location and change value.
            bars.select("text").transition().duration(500)
                .text(function(d){ return d3.format(",")(d[1])})
                .attr("y", function(d) {return y(d[1])-5; });            
        }        
        return hG;
    }
    
    // function to handle pieChart.
    function pieChart(pD){
        var pC ={},    pieDim ={w:250, h: 250};
        pieDim.r = Math.min(pieDim.w, pieDim.h) / 2;
                
        // create svg for pie chart.
        var piesvg = d3.select(id).append("svg")
            .attr("width", pieDim.w).attr("height", pieDim.h).append("g")
            .attr("transform", "translate("+pieDim.w/2+","+pieDim.h/2+")");
        
        // create function to draw the arcs of the pie slices.
        var arc = d3.svg.arc().outerRadius(pieDim.r - 10).innerRadius(0);

        // create a function to compute the pie slice angles.
        var pie = d3.layout.pie().sort(null).value(function(d) { return d.freq; });

        // Draw the pie slices.
        piesvg.selectAll("path").data(pie(pD)).enter().append("path").attr("d", arc)
            .each(function(d) { this._current = d; })
            .style("fill", function(d) { return segColor(d.data.type); })
            .on("mouseover",mouseover).on("mouseout",mouseout);

        // create function to update pie-chart. This will be used by histogram.
        pC.update = function(nD){
            piesvg.selectAll("path").data(pie(nD)).transition().duration(500)
                .attrTween("d", arcTween);
        }        
        // Utility function to be called on mouseover a pie slice.
        function mouseover(d){
            // call the update function of histogram with new data.
            hG.update(fData.map(function(v){ 
                return [v.State,v.freq[d.data.type]];}),segColor(d.data.type));
        }
        //Utility function to be called on mouseout a pie slice.
        function mouseout(d){
            // call the update function of histogram with all data.
            hG.update(fData.map(function(v){
                return [v.State,v.total];}), barColor);
        }
        // Animating the pie-slice requiring a custom function which specifies
        // how the intermediate paths should be drawn.
        function arcTween(a) {
            var i = d3.interpolate(this._current, a);
            this._current = i(0);
            return function(t) { return arc(i(t));    };
        }    
        return pC;
    }
    
    // function to handle legend.
    function legend(lD){
        var leg = {};
            alert("Voy a pintar");
        // create table for legend.
        var legend = d3.select(id).append("table").attr('class','legend');
        
        // create one row per segment.
        var tr = legend.append("tbody").selectAll("tr").data(lD).enter().append("tr");
        console.log("tr");
        console.log(tr);
            
        // create the first column for each segment.
        tr.append("td").append("svg").attr("width", '16').attr("height", '16').append("rect")
            .attr("width", '16').attr("height", '16')
			.attr("fill",function(d){ return segColor(d.type); });
            
        // create the second column for each segment.
        tr.append("td").text(function(d){ return d.type;});

        // create the third column for each segment.
        tr.append("td").attr("class",'legendFreq')
            .text(function(d){ return d3.format(",")(d.freq);});

        // create the fourth column for each segment.
        tr.append("td").attr("class",'legendPerc')
            .text(function(d){ return getLegend(d,lD);});

        // Utility function to be used to update the legend.
        leg.update = function(nD){
            // update the data attached to the row elements.
            var l = legend.select("tbody").selectAll("tr").data(nD);

            // update the frequencies.
            l.select(".legendFreq").text(function(d){ return d3.format(",")(d.freq);});

            // update the percentage column.
            l.select(".legendPerc").text(function(d){ return getLegend(d,nD);});        
        }
        
        function getLegend(d,aD){ // Utility function to compute percentage.
            return d3.format("%")(d.freq/d3.sum(aD.map(function(v){ return v.freq; })));
        }

        return leg;
    }
    
    // calculate total frequency by segment for all state.
    var tF = ['value0','value1','value2'].map(function(d){ 
        return {type:d, freq: d3.sum(fData.map(function(t){ return t.freq[d];}))}; 
    });    
    
    // calculate total frequency by state for all segment.
    var sF = fData.map(function(d){return [d.State,d.total];});

    var hG = histoGram(sF), // create the histogram.
        pC = pieChart(tF), // create the pie-chart.
        leg= legend(tF);  // create the legend.
}

var DatosDepto=["Abastecimineto","Actividades Recreativas","Alimentos y Bebidas","Atencion al Visitante","Bajas","Capital Humano","Direccion Ejecutiva","Fauna"];

var freqData=[
{State:'Abastecimineto',freq:{value0:50, value1:25, value2:25}}
,{State:'Actividades Recreativas',freq:{value0:60, value1:42, value2:67}}
,{State:'Alimentos y Bebidas',freq:{value0:24, value1:49, value2:41}}
,{State:'Bajas',freq:{value0:31, value1:11, value2:18}}
,{State:'Capital Humano',freq:{value0:30, value1:33, value2:48}}
,{State:'Direccion Ejecutiva',freq:{value0:74, value1:17, value2:63}}
,{State:'Fauna',freq:{value0:64, value1:24, value2:12}}
,{State:'Finanzas y Control',freq:{value0:44, value1:52, value2:42}}
,{State:'Foto',freq:{value0:79, value1:19, value2:14}}
,{State:'Investigación de Mercado',freq:{value0:16, value1:39, value2:41}}
];

dashboard('.aquiGrafica2',freqData);


								</script>
								</section>
						</div>
					
			

				<div class="row">
						<div class="12u">

							<!-- Table -->
								<section class="box">

									<div class="row uniform 50%">
										<div class="divColorIcon1"><i class="fa fa-laptop fa-3x"></i></div>
										<div class="3u 12u (mobilep)">
												<h3>Computadoras</h3>
										</div>
										<div class="5u 12u (mobilep"></div>
										<div class="3u 12u (mobilep)" align="left">
											<input type="text" name="name" id="name" value="" placeholder="Buscar computadoras" />
										</div>								
									</div>
									<br>
									<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>
													<th>Price</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Something</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Nothing</td>
													<td>Vis ac commodo adipiscing arcu aliquet.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Something</td>
													<td> Morbi faucibus arcu accumsan lorem.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Nothing</td>
													<td>Vitae integer tempus condimentum.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Something</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td colspan="2"></td>
													<td>100.00</td>
												</tr>
											</tfoot>
										</table>
									</div>
								</section>

						</div>
					</div>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="http://192.168.40.223/ocsreports/" class="icon fa-cogs"><span class="label">OCS</span></a></li>
						<li><a href="http://192.168.40.223/glpi/" class="icon fa-rocket"><span class="label">GLPI</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Portal de mantenimientos v0.1 </li><li><a href="http://es.xelha.com/">Xel-Ha</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src='{% static "js/jquery.min.js" %}'></script>
			<script src='{% static "js/jquery.dropotron.min.js" %}'></script>
			<script src='{% static "js/jquery.scrollgress.min.js" %}'></script>
			<script src='{% static "js/skel.min.js" %}'></script>
			<script src='{% static "js/util.js" %}'></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src='{% static "js/main.js" %}'></script>

			<!--<script src='{% static "js/changePlaceholder.js" %}'></script>
			<script src='{% static "js/countCheckbox.js" %}'></script>-->

			 
	</body>
</html>